%div[user]
  %p.name
    %strong Name
    = user.name
  %p.email
    %strong Email
    = user.email

  != link_to 'Show', object_path(user)
  |
  != link_to 'Edit', edit_object_path(user)
  |
  != link_to 'Destroy', object_path(user), :confirm => 'Really destroy user?', :method => :delete
