%div[event]
  %p.summary
    %strong Summary
    = event.summary
  %p.dtstart
    %strong Dtstart
    = event.dtstart
  %p.dtend
    %strong Dtend
    = event.dtend
  %p.description
    %strong Description
    = event.description
  %p.url
    %strong Url
    = event.url
  %p.ticket_url
    %strong Ticket url
    = event.ticket_url
  %p.creator_id
    %strong Creator
    = event.creator_id

  != link_to 'Show', object_path(event)
  |
  != link_to 'Edit', edit_object_path(event)
  |
  != button_to 'Destroy', object_path(event), :confirm => 'Really destroy event?', :method => :delete
