%ol
  %li
    != f.label "Event Name"
    != f.text_field :summary
  %li
    != f.label :venue_name, "Venue"
    != f.text_field :venue_name, :class => :autocomplete
    != f.hidden_field :venue_id
    %p.description Type in the first few letters of your venue
    != link_to "Not Listed? Add your venue.", new_venue_path
  %li
    != f.label :dtstart, "Start Date"
    != f.datetime_select :dtstart
  %li
    != f.label :dtend, "End Date"
    != f.datetime_select :dtend
  %li
    != f.label :description
    != f.text_area :description
  %li
    != f.label :url, "More Info"
    != f.text_field :url, :placeholder => "http://"
  %li
    != f.label :ticket_url, "Ticket URL"
    != f.text_field :ticket_url, :placeholder => "http://"
  %li<
    != f.label :twitter_hashtag
    \#
    != f.text_field :twitter_hashtag
