%ol
  %li
    != f.label "Event Name"
    != f.text_field :summary
  %li
    != f.label :venue_name, "Venue"
    != f.text_field :venue_name, :class => :autocomplete
    != f.hidden_field :venue_id
    %p.description Type in the first few letters of your venue
    != link_to "Not Listed? Add your venue.", new_venue_path
  %li
    != f.label :dtstart_date, "Start Date"
    != f.text_field :dtstart_date, :class => :datepicker, :value => Date.today
    != f.hidden_field :dtstart
    
    != f.select :dtstart_time, options_for_timeslider_select(:dtstart)
    != f.select :dtend_time, options_for_timeslider_select(:dtend)
  %li.hidden
    != f.label :dtend_date, "End Date"
    != f.text_field :dtend_date, :class => :datepicker, :value => Date.today
    != f.hidden_field :dtend
  %li
    != f.label :description
    != f.text_area :description
  %li
    != f.label :url, "More Info"
    != f.text_field :url, :placeholder => "http://"
  %li
    != f.label :ticket_url, "Ticket URL"
    != f.text_field :ticket_url, :placeholder => "http://"
  %li<
    != f.label :twitter_hashtag
    \#
    != f.text_field :twitter_hashtag
