%ol
  %li
    != f.label "Event Name"
    != f.text_field :summary
  %li
    != f.label :dtstart, "Start Date"
    != f.datetime_select :dtstart
  %li
    != f.label :dtend, "End Date"
    != f.datetime_select :dtend
  %li
    != f.label :description
    != f.text_area :description
  %li
    != f.label :url, "More Info"
    != f.text_field :url, :placeholder => "http://"
  %li
    != f.label :ticket_url, "Ticket URL"
    != f.text_field :ticket_url, :placeholder => "http://"