%h1 Viewing event

%div[current_object]
  %p.summary
    %strong Summary
    = current_object.summary
  %p.dtstart
    %strong Dtstart
    = current_object.dtstart
  %p.dtend
    %strong Dtend
    = current_object.dtend
  %p.description
    %strong Description
    = current_object.description
  %p.url
    %strong Url
    = current_object.url
  %p.ticket_url
    %strong Ticket url
    = current_object.ticket_url

- if current_object.twitter_hashtag?
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#{javascript_escape(current_object.twitter_hashtag)}',
      interval: 6000,
      title: 'Tweets about #{javascript_escape(current_object.twitter_hashtag)}',
      subject: '',
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script>

!= link_to 'Edit', edit_object_path
|
!= button_to 'Destroy', object_path, :confirm => 'Really destroy event?', :method => :delete
|
!= link_to 'Back', objects_path
