%h1 Viewing event

%div[current_object]
  %p.summary
    %strong Summary
    = current_object.summary
  %p.dtstart
    %strong Dtstart
    = current_object.dtstart
  %p.dtend
    %strong Dtend
    = current_object.dtend
  %p.description
    %strong Description
    = current_object.description
  %p.url
    %strong Url
    = current_object.url
  %p.ticket_url
    %strong Ticket url
    = current_object.ticket_url
  %p.creator_id
    %strong Creator
    = current_object.creator_id

!= link_to 'Edit', edit_object_path
|
!= button_to 'Destroy', object_path, :confirm => 'Really destroy event?', :method => :delete
|
!= link_to 'Back', objects_path
