%p
  %label{:for => "venue_name"} Name:
  = f.text_field :name
%p
  %label{:for => "venue_address"} Address:
  = f.text_field :address
%p
  %label{:for => "venue_city"} City:
  = f.text_field :city
%p
  %label{:for => "venue_province"} Province:
  = f.text_field :province
%p
  %label{:for => "venue_postal_code"} Postal code:
  = f.text_field :postal_code
%p
  %label{:for => "venue_country"} Country:
  = f.text_field :country
%p
  %label{:for => "venue_phone_number"} Phone number:
  = f.text_field :phone_number
%p
  %label{:for => "venue_url"} Url:
  = f.text_field :url
%p
  %label{:for => "venue_description"} Description:
  = f.text_area :description
%p
  %label{:for => "venue_time_zone"} Time zone:
  = f.text_field :time_zone
%p
  %label{:for => "venue_latitude"} Latitude:
  = f.text_field :latitude
%p
  %label{:for => "venue_longitude"} Longitude:
  = f.text_field :longitude
