%ol
  %li
    %label{:for => "venue_name"} Name:
    != f.text_field :name
  %li
    %label{:for => "venue_address"} Address:
    != f.text_field :address
  %li
    %label{:for => "venue_city"} City:
    != f.text_field :city
  %li
    %label{:for => "venue_province"} Province:
    != f.text_field :province
  %li
    %label{:for => "venue_postal_code"} Postal code:
    != f.text_field :postal_code
  %li
    %label{:for => "venue_country"} Country:
    != f.text_field :country
  %li
    %label{:for => "venue_phone_number"} Phone number:
    != f.text_field :phone_number
  %li
    %label{:for => "venue_url"} Url:
    != f.text_field :url
  %li
    %label{:for => "venue_description"} Description:
    != f.text_area :description
